header {
  height: 10%;
}

nav {
  background: red;
  border-radius: 0 0 15px 15px;
  display: flex;
}

nav img {
  align-self: center;
  margin-left: 5%;
  height: 50px;
  width: 50px;
}

nav h1 {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 35px;
  text-decoration: bold;
  padding-left: 10%;
}

nav div {
  display: flex;
}

nav div ul {
  float: right;
  align-self: center;
  display: flex;
}

nav div ul li {
  list-style-type: none;
  margin: 10%;
}

nav div ul li a {
  text-align: right;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-decoration: none;
}

nav div button {
  align-self: right;
}

