.main {
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
}

.download-title {
  margin-top: 7%;
  text-align: center;
  color: red;
  font-size: 30px;
}

.card-holder {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

.card {
  display: flex;
  flex-flow: column;
  background-color: red;
  padding: 15px 20px;
  margin: 50px 40px;
  width: 25%;
  border-radius: 15px;
}

.download-text {
  text-align: center;
  font-size: 18px;
  color: white;
}

.logo-holder {
  display: inline;
}

.logo-on-card {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

#ios-download-button {
  align-self: center;
  margin-top: 30px;
}

#android-download-button {
  align-self: center;
  margin: 30px;
}

.center {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
}
